## 6.4 	排序

In [1]:
import pandas as pd
import numpy as np

### 6.4.1 	通过标签排序

In [22]:
s = pd.Series([8, 3, 7], index=list('bac'))
s

b    8
a    3
c    7
dtype: int64

In [23]:
s.sort_index()

a    3
b    8
c    7
dtype: int64

In [24]:
s.sort_index(ascending=False)

c    7
b    8
a    3
dtype: int64

In [25]:
data = {'apples': [3, 2, 0, 1],
        'oranges': [0, 1, 2, 3],
        'bananas': [1, 2, 1, 0]}
df = pd.DataFrame(data, index=['June','Robert','Lily','David'])
df

        apples  oranges  bananas
June         3        0        1
Robert       2        1        2
Lily         0        2        1
David        1        3        0

In [26]:
df.sort_index()

        apples  oranges  bananas
David        1        3        0
June         3        0        1
Lily         0        2        1
Robert       2        1        2

In [27]:
df.sort_index(axis=1)

        apples  bananas  oranges
June         3        1        0
Robert       2        2        1
Lily         0        1        2
David        1        0        3

In [28]:
df.sort_index(ascending=False)

        apples  oranges  bananas
Robert       2        1        2
Lily         0        2        1
June         3        0        1
David        1        3        0

In [29]:
df.sort_index(axis=1, ascending=False)

        oranges  bananas  apples
June          0        1       3
Robert        1        2       2
Lily          2        1       0
David         3        0       1

### 6.4.2 	通过元素值排序