## 4.4 	访问DataFrame列

In [2]:
import pandas as pd
import numpy as np

## 4.4.1 	单个标签下标

In [9]:
L =[[3,0,1], 
    [2,1,2], 
    [0,2,1], 
    [1,3,0]]
df = pd.DataFrame(L)
df

   0  1  2
0  3  0  1
1  2  1  2
2  0  2  1
3  1  3  0

In [11]:
df[0]

0    3
1    2
2    0
3    1
Name: 0, dtype: int64

In [12]:
type(df[0])

pandas.core.series.Series

In [13]:
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 1, 2, 3],
    'bananas': [1, 2, 1, 0]
}
df = pd.DataFrame(data, index=['June','Robert','Lily','David'])
df

        apples  oranges  bananas
June         3        0        1
Robert       2        1        2
Lily         0        2        1
David        1        3        0

In [14]:
df['apples']

June      3
Robert    2
Lily      0
David     1
Name: apples, dtype: int64

In [16]:
type(df['apples'])

pandas.core.series.Series